.newsletter {
  color: rgba(var(--color-foreground), 0.75);
  background: var(--gradient-background);
  background-color: rgb(var(--color-background));
}

.newsletter__wrapper {
  margin: 0 auto;
  padding: 4rem 3rem 5rem;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding: 4rem 9rem 5rem;
  }
}

@media screen and (min-width: 990px) {
  .newsletter__wrapper {
    max-width: 112rem;
    display: inline-flex;
    align-items: center;
  }
  
  .newsletter {
    display: flex;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
  padding: 16px;
}

.newsletter__text-blocks p {
  font-size: 13px;
  line-height: 2rem;
  margin: 0;
}

.newsletter__text-blocks h2 {
  margin: 0 0 16px;
  line-height: 3rem;
}

.newsletter__wrapper > * + * {
  margin-top: 1rem;
  line-height: 2.2rem;
  font-size: 13px;
  max-width: 500px;
}

.newsletter__wrapper > * + form-state {
  display: block;
  margin-top: 2rem;
}

.newsletter__subheading {
  max-width: 70rem;
  font-size: 1.4rem;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  width: 36rem;
  max-width: 100%;
  display: inline-block;
}

.newsletter__wrapper .form__message {
  margin-top: 1.5rem;
}

.newsletter__wrapper .newsletter-form .field__input {
  font-size: 1.5rem;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper .newsletter-form .field__input {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 749px) {
  .newsletter__text-blocks h2 {
      line-height: 3.6rem;
      font-size: 28px;
  }
    
  .newsletter__wrapper > * {
      padding: 0;
  }
}

.newsletter__wrapper .newsletter-form .field__input::placeholder {
  color: rgb(var(--color-foreground));
}

.newsletter__wrapper .newsletter-form .field__button .icon {
  width: 1.5rem;
  height: 1.5rem;
}